{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <table class="table" style = "border:solid">
                <thead>
                  <tr >
                    <th scope="col" style = "border:solid">ID</th>
                    <th scope="col" style = "border:solid">ENTRADA</th>
                    <th scope="col" style = "border:solid">SALIDA</th>
                  </tr>
                </thead>
                <tbody>
                 {% for hor in horario %}   
                  <tr>
                    <th scope="row">{{hor.id}}</th>
                    <td>{{hor.entrada}}</td>
                    <td>{{hor.salida}}</td>
                  </tr>
                  
                  {% endfor %}
                
                </tbody>
              </table>
        </div>
    </div>
</section>


{% endblock %}
