<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table" style = "border:solid">
        <thead>
          <tr >
            <th scope="col" style = "border:solid">ID</th>
            <th scope="col" style = "border:solid">NOMBRE</th>
            <th scope="col" style = "border:solid">EDAD</th>
            <th scope="col" style = "border:solid">FECHA_NAC</th>
          </tr>
        </thead>
        <tbody>
         {% for per in personas %}   
          <tr>
            <th scope="row">{{per.id}}</th>
            <td>{{per.nombre}}</td>
            <td>{{per.edad}}</td>
            <td>{{per.fechaNac}}</td>
            
          </tr>
          {% endfor %}
        
        </tbody>
      </table>

    


</body>
</html>